body {
    font: Arial;
}

#container {
    width: 1050px;
    margin: 0 auto;

}

#header {
    height: 100px;
    padding: 20px 0;
}

#brand {
    float: left;
}

#searchBox {
    float: right;
    background: linear-gradient(#E4F2B9, #B7E953);
    width: 400px;
    height: 50px;
    margin-top: 20px;
    padding: 20px 20px 0 20px;
}
.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size:  15px;
    color: #E36A0c;
    background: white url(images/search.png) right center no-repeat;
}
.clear {
    clear:both
}
.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background-color: #861BBF;
    font-size: 15px;
}

ul {
    list-style: none;
}

#menu {
    height: 70px;
    background: linear-gradient(#F8F594, #D5D533);  
    padding: 7px 0;  
}

#menu ul li {
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;
}

#menu ul li:last-child {
    border-right: none;
}

#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}

#menu ul li a:hover, #menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color: grey;
}


#introduction {    
    background: linear-gradient(#E5F2BB, #B7E952);
    padding: 30px;
    margin: 16px 0;
}

#introduction h3 {
    font-size: 45px;
    font-weight: normal;
    color: #316901;
}

#introduction p {
    font-size: 25px;
    color: #789450;
    text-align: justify;
    word-wrap: break-word;
}



.sidebar {
    height: 500px;
    width: 450px;
    border: 1px solid #BAF46F;
    border-radius: 20px;
    padding: 10px 30px;

}

.sidebar ul {
    padding-top: 10px;
}
.sidebar h3 {
    color: #B314DB;
    font-size: 30px;
}
#leftsidebar ul li {
    padding: 17px 0px 5px 70px;
    list-style-image: url(images/arrow.png);
}
#rightsidebar ul li {
    padding: 17px 0px 10px 70px;
    background: url(images/tick.png) no-repeat left center;
    
    
}
.sidebar ul li a {
    text-decoration: none;
    font-size: 15px;
    color:#5d12e7;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}

.sidebar ul li a:hover {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: red;

}


#leftsidebar {
    float: left;
}

#rightsidebar {
    float: right;
}



h1 a {
    font-size: 50px;
    font-weight: 100;
    color: #861BBF;
    text-decoration: none; 
}

.footer {
    height: 60px;
    background: linear-gradient(#F6F390, #D5D533);
    padding: 10px 30px;
    margin-top: 10px;
    
}